In [1]:
x=(1,'a',2,'b')
type(x)

tuple

In [2]:
x=[1,'a',2,'b']
type(x)

list

In [3]:
x.append(3.3)

In [4]:
print(x)

[1, 'a', 2, 'b', 3.3]

In [5]:
for item in x:
    print(item)

1
a
2
b
3.3

In [10]:
i = 0
while (i != len(x) ):
    print( x[i] )
    i = i+1

1
a
2
b
3.3

In [11]:
[1 ,2] + [3, 4]

[1, 2, 3, 4]

In [12]:
[1] * 4

[1, 1, 1, 1]

In [14]:
1 in [1, 2, 3]

True

In [15]:
x= 'this is a string'
print(x[0])
print(x[0:3])
print(x[-1])
print(x[-4:-1])

t
thi
g
rin

In [16]:
x[:5]

'this '

In [17]:
x[3:]

's is a string'

In [18]:
firstname='chris'
lastname= 'coper'
print(firstname + ' ' + lastname)
print(firstname * 3)
print('chri' in firstname)

chris coper
chrischrischris
True

In [21]:
firstname = 'chris arthur hansen coper'.split(' ')[0]   #Slicing function : split by spacing ' '
lastname = 'chris arthur hansen coper'.split(' ')[-1]
print(firstname)
print(lastname)

chris
coper

In [22]:
x={'chris brok' : 'brok@gmail.com', 'bill gates' : 'bill@gmail.com'}  # Dictionaries
x['chris brok']

'brok@gmail.com'

In [23]:
x['keven collins']= None

In [25]:
for name in x:
    print(x[name])

brok@gmail.com
bill@gmail.com
None

In [28]:
for name,mail in x.items():     #items function
    print(name)
    print(mail)

chris brok
brok@gmail.com
bill gates
bill@gmail.com
keven collins
None

In [29]:
for name in x.values():         #values function
    print(name)

brok@gmail.com
bill@gmail.com
None

In [30]:
name = ('chris', 'brok', 'lanster')         # unpacking tuples
fname, mname, lname = name
fname

'chris'

In [31]:
lname

'lanster'

In [32]:
mname

'brok'

In [36]:
neme = ('chris', 'brok', 'lanster', 'extra')
fname, mname, lname = name

In [37]:
mname

'brok'

In [39]:
sales_record = {'price':3.4,                                   # format method and passing values to a string
               'num':3,
               'person':'george'}
sales_statement = '{} bought {} at a price of {} each and payed {} in total'
print(sales_statement.format(sales_record['person'],
                            sales_record['num'],
                            sales_record['price'],
                            sales_record['num']*sales_record['price']))

george bought 3 at a price of 3.4 each and payed 10.2 in total